{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}Вся правда о букмекерской конторе OlimpKZ | {{block.super}} {% endblock %}

{% block content %}

<p class="lead">Вся правда о букмекерской конторе OlimpKZ</p>
 <p>В данном посте вы увидите всю эмпирическую правду об OlimpKZ. Мой знакомый согласился на оглашение истории ставок. Вы сможете ознакомиться с обработкой и визуализацией ВСЕХ данных за ЧЕТЫРЕ года игры в olimpKZ.</p>
<p>Для тех кто не знает то OlimpKZ -- это самая известная букмекерская контора с месячным оборотом около 30 миллиарда тенге. Судя по количеству этих контор по городам Казахстана можно сделать вывод что очень большая часть населения играют. Конечно, все хотят "легких" денег. Поставил 1000 тенге и получил 2000. Ооо, круто! Тем более что вы "хорошо разбираетесь" в спорте! Но фундаментальная статистика не согласна с этим. В этом вы убедитесь сами продолжив читать этот пост и увидев графики.</p>
 
<p>И так начнем.</p>
 
<p>Следующий график показывает сколько тенге мой друг чаще ставил(синее) и проигрывал(красное)</p>
 
<p><img title="Частота денег на ставки" src="{% static 'img/8wt6N5JqByQ92gIq7WVMv1gZxOqFFt.png' %}" alt="График показывает сколько тенге чаще мой друг ставил(синее) и проигрывал(красное)" width="780" height="479"></p>
<p>Можно заметить что больше всего мой друг выигрывал 0 тенге! А дальше он проигрывает больше чем выигрывает (высота синей плитки меньше чем красной).</p>
 
<p>Следующий график ниже показывает сумму денег который мой друг выигрывал(зеленый) и проигрывал(красный)</p>
<p><img title="Общая сумма денег" src="{% static 'img/yPbJkIdv6gw168p0qm81aEO3bDC5UN.png' %}" alt="График показывает сумму денег который мой друг выигрывал(зеленый) и проигрывал(красный)" width="823" height="524"></p>
<p>Зеленая линия (выигрыш) уменьшается все чаща со временем. Заметьте! Ни разу не выходив выше красной линии (проигрыша)</p>
 
<p>Далее, нижний график показывает чистый выигрыш в тенге на протяжении 4 лет игры</p>
<p><img title="Чистый выигрыш" src="{% static 'img/Mc4i791UWDe5Sn1M35c3voQB8nMxhz.png' %}" alt="График показывает чистый выигрыш в тенге на протяжении 4 лет игры" width="827" height="510"></p>
<p>Конечно значения отрицательные, потому что как видно мой друг в ПРОИГРЫШЕ!</p>
 
<p>Далее можно увидеть что приблизительно мой друг проигрывает в среднем 1300 тенге в день. Почему? Математика показывает!</p>
<p><img title="-1300 тенге в день!" src="{% static 'img/kbEkZaWKUVV1QTg2sj5AVESVAEct5m.png' %}" alt="-1300 тенге в день!" width="832" height="518"></p>
 
<p>Если хотите узнать более приближенное значение то построив функцию многочлен 6-ой степени, мы сможем "предсказать будущее". Следующий график показывает синим этот многочлен.</p>
<p><img title="Приближенный график истории ставок" src="{%static 'img/hE2wG9Np8BZpIV9m5Pu3y2F5xs4myR.png' %}" alt="Приближенный график истории ставок" width="802" height="516"></p>
 
<p>Что будет если мой друг продолжит играть? У нас есть функция f(t), где f--сумма выигрыша и t--время. Подставив любое значение в t, то можно предсказать. Не сложно заметить что эта функция уменьшается.</p>
 
<p><img title="БУДУЩЕЕ" src="{% static 'img/nLzjx4O1s89tu494lwj05DFBO76w5m.png' %}" alt="БУДУЩЕЕ!" width="810" height="536"></p>
<p>И так, если он сейчас в проигрыше около 2 миллиона тенге, то через год он будет в проигрыше в 4 миллиона!</p>
 
<p>Вопрос который мучает зависимых людей -- как восстановить свой проигрыш? Многие обманываются тем что нужно играть "умнее" и тд. Но НЕТ! Нужно просто перестать играть! Не ждать легких денег! Потому что таких денег НЕ СУЩЕСТВУЕТ! Перестаньте жалеть себя!</p>
 
<p>В данной обработке данных использовал всякие парсеры на python, javascript и конечно MATLAB для визуализации данных.</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'olimpkz';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'olimpkz';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

{% endblock %}